body {
    width: 100%;
}
.section-p1{
    padding:40px 80px;
}

 #header1 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: rgb(126, 124, 123);
    box-shadow: 0 5px 15px rgb(172, 178, 179) ;

}
.search{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.search form {
    display: flex;
    margin: 0;
}
.search input {
    padding: 5px;
    border: 1px solid #add;
    outline: none;
  border-radius: 5px ;
  margin-right: 10px;
  font-size: 16px;
}
.search button {
    padding:5px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
}
.search button:hover{
    background-color: #ccc;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;

}

#navbar li a {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#navbar li a:hover,
#navbar li a.active {
    color: #89d6cdf6;
}
#hero{
    background-image:url(__.jpeg);
    height: 90vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero h4{
 color: rgb(176, 143, 206);
}
#hero h1{
    color: rgb(118, 118, 171);
    font-style: italic;
    font-size: large;

}
#hero button {
    background-image:url(button.png);
    background-color: transparent;
    color: aliceblue;
    position: relative;
    border: 0;
    padding: 14px 80px 14px 65;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500px;

}
#feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px #7ba7a2f6;
    border: 1px solid #7ba7a2f6;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
#feature h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:rgb(50, 64, 87);
    background-color: aliceblue;
}
#feature.fe-box:nth-child(2)h6{
    background-color: rgb(207, 207, 132);
}
#feature.fe-box:nth-child(3)h6{
    background-color: rgb(199, 239, 230);
}
#feature.fe-box:nth-child(4)h6{
    background-color: rgb(215, 211, 244);
}

#product1{
    text-align: center;
}
#product1 .pro-container{
display: flex;
justify-content: space-between;
padding-top: 2px;
flex-wrap: wrap;
}
#product1 .pro{
    width: 10%;
    min-width: 250px;
    padding: 10px 15px;
    border: 1px solid #7ba7a2f6;
    box-shadow: 20px 20px 30px #d5dad9f6 ;
    margin: 10px 0;
    transition: 0.2s ease;
}
#product1 .pro img{
    width:100%;
    border-radius:10px;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px #d5dad9f6;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 7px;
    color: rgb(234, 220, 23);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:rgb(21, 23, 22);
}
#product1 .pro .cart{
width: 40px;
height: 40px;
line-height: 40px;
border-radius : 50px;
background-color: #e8f6ea;
font-weight: 500;
color:#088178;
}
#page-header {
    background-image: url("back1.png");
    width: 100%;
    height: 40vh;
    background-size :700px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:20px;
}
#page-header pre{
  font-size: large;
  color  : #fffffff6;
}
#prodetails .single-pro-image{
    width:25%;
    margin-right:100px;
}
#prodetails{
    display:flex;
    margin-top: 20px;
    background-image: url(télécharger.jpeg);
    background-size: cover;
}
#prodetails .small-img-group{
    display:flex;
    justify-content:space-between;
}
#prodetails .single-pro-details{
    width:50%;
    padding-top:30px;
    

}
#prodetails .single-pro-details h4{
    padding:40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size:26px;
}
#prodetails .single-pro-details h4{
    padding:5px 10px;
    display: flex;
    margin-bottom: 10px;
}
#prodetails  .single- pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right:10px;
}
#prodetails .single- pro- details input {
    outline: none
}
    #prodetails .single-pro-details button {
    background: #088178;
    color:#fff;
    }
    #prodetails .single-pro-details span{
    line-height: 25px;
    }
    #page-header2 {
        background-image: url("doc.png");
        width: 100%;
        height: 40vh;
        background-size :600px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding:25px;
    }
    #page-header2 h1{
      color  : #fffffff6;
    }
    #page-header2 h3{
        color  : #fffffff6;
      }
footer{
    display: flex;
    padding: 20px 90px;
    background-color: #656767;
    text-align: center;

}
footer p {
    margin: 5px;

}
body{
    background-color: #eeeeee;
    font-family: system-ui;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
    
}
header h1{
    font-size: x-large;
    font-style: italic;
    color: rgb(88, 76, 67);
    text-align: center;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 60%;
    height: 170px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #9c6d6d;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #909597;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #121211;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #444239;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #000000;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 50%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}